@page
@model Bank.Pages.Accounts.TransferModel
@{
    ViewData["Title"] = "Transfer";
}


<section id="customer" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        
        <div class="section-title">
            <h2>Account</h2>
            <p id="account-info">Transfer: </p>
            <h5 style="color: white">Transfer FROM account no: @Model.Transfer.Account.AccountId</h5>
            <h5 style="color: #ffc451">Balance: @Model.Transfer.Account.Balance kr</h5>
        </div>

        <div class="card-body custom-table">
            <form method="post">
                
                <div class="form-group">
                    <label class="mb-3" style="color:white" asp-for="Amount">Amount (Kr)</label>
                    <input class="form-control w-50 mb-3" asp-for="Amount" />
                    <span class="field-validation-error" style="color:red" asp-validation-for="Amount"></span>
                </div>

                <div class="form-group">
                    <label class="mb-3" style="color:white" asp-for="AccountToId">Transfer TO account no.</label>
                    <input class="form-control w-50 mb-3" asp-for="AccountToId" />
                    <span class="field-validation-error" style="color:red" asp-validation-for="AccountToId"></span>
                </div>


                <button 
                    type="submit" 
                    class="btn get-started-btn text-center button-link"
                    asp-route-customerId="@Model.Transfer.CustomerId"
                    asp-route-accountId="@Model.Transfer.Account.AccountId"
                    asp-route-accountToId="@Model.AccountToId"
                    style="font-size:20px">
                    <i class="fas fa-exchange-alt"></i> &nbsp; Transfer
                </button>

                <button class="btn back-btn mx-3 text-center button-link">
                        <a 
                            asp-page="/Customers/Customer" 
                            asp-route-customerId="@Model.Transfer.CustomerId">
                            <i class="fas fa-chevron-circle-left"></i> Back
                        </a>
                </button>
            </form>
        </div>
    </div>
</section>

@*Client side validation*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

